

.iphone8 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.iphone8 .oval {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 110px;
  height              : 113px;
  width               : 113px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
}
.iphone8 .oval1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 136px;
  height              : 62px;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
}
.iphone8 .oval2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 102px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 177px;
}
.iphone8 .oval3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 182px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 225px;
}
.iphone8 .oval4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 182px;
  height              : 21px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
}
.iphone8 .food-circle {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 251px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : justify;
  line-height         : 24.0px;
}
.iphone8 .cells-button-cell {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 421px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.iphone8 .cells-button-cell .cell {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone8 .cells-button-cell .label {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 96px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 19.0px;
}
.iphone8 .cells-button-cell2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 482px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.iphone8 .cells-button-cell2 .cell1 {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone8 .cells-button-cell2 .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 19.0px;
}
.iphone8 .cells-button-cell21 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 482px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.iphone8 .cells-button-cell21 .cell2 {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone8 .cells-button-cell21 .label2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 19.0px;
}
.iphone8 .cells-button-cell22 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 482px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.iphone8 .cells-button-cell22 .cell3 {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.iphone8 .cells-button-cell22 .label3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 19.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}