

.screen10 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen10 .white-list {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 136px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.screen10 .app-white-list {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 110px;
  height              : auto;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 14.65px;
}
.screen10 .bitmap {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 140px;
  height              : 57px;
  width               : 54px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
}
.screen10 .rectangle {
  background          : rgba(19, 107, 113, 0.1);
  top                 : 147px;
  height              : 44px;
  width               : 44px;
  position            : absolute;
  margin              : 0;
  left                : 105px;
  border-radius       : 8px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(19, 107, 113, 1.0);
}
.screen10 .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 160px;
  height              : auto;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.screen10 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 22px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  opacity             : 0.64;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}