

.screen8 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen8 .rectangle2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 667px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.screen8 .cells-button-cell2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 513px;
  height              : 44px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 66px;
}
.screen8 .cells-button-cell2 .cell {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .cells-button-cell2 .label {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 109px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 16.0px;
}
.screen8 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 14px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  opacity             : 0.64;
}
.screen8 .if04171508 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 217px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 182px;
}
.screen8 .happy1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 223px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 135px;
}
.screen8 .happy1 .shape {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 4px;
  height              : 29px;
  width               : 31px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
}
.screen8 .happy1 .shape1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 24px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.screen8 .happy1 .shape2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 2px;
  height              : 24px;
  width               : 28px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.screen8 .happy1 .shape3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen8 .happy1 .shape4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 20px;
  height              : 7px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 9px;
}
.screen8 .happy1 .shape5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 11px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
}
.screen8 .happy1 .oval {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
}
.screen8 .happy1 .oval1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 11px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.screen8 .dinner-at-viale {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 85px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}