

.screen26 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen26 .my-meal-time-record {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 81px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : justify;
  line-height         : 24.0px;
}
.screen26 .oval2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 618px;
  height              : 9px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
}
.screen26 .circle-record {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 154px;
  height              : 301px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
}
.screen26 .circle-record .a3061-hours {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 96px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 10.0px;
}
.screen26 .circle-record .a4693-hours {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 151px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 200px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(137, 30, 30, 1.0);
  text-align          : center;
  line-height         : 10.0px;
}
.screen26 .circle-record .a2041-hours {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 230px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(159, 125, 52, 1.0);
  text-align          : center;
  line-height         : 10.0px;
}
.screen26 .circle-record .a408-hours {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 190px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(30, 166, 24, 1.0);
  text-align          : center;
  line-height         : 10.0px;
}
.screen26 .circle-record .a58-meals203-hours {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 135px;
  height              : auto;
  width               : 377px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.screen26 .circle-record .a1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 301px;
  width               : 299px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
}
.screen26 .group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 618px;
  height              : 9px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 175px;
}
.screen26 .group .oval21 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 9px;
  width               : 10px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.screen26 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 14px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
}
.screen26 .back .back1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 14px;
  width               : 8px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  opacity             : 0.64;
}
.screen26 .in-the-last-month-y {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 497px;
  height              : auto;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.screen26 .rectangle2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 667px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.screen26 .time-frame-toggle {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 88px;
  height              : 46px;
  width               : 124px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
}
.screen26 .time-frame-toggle .selects {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 42px;
  width               : 120px;
  position            : relative;
  margin              : 0;
  left                : 2px;
}
.screen26 .time-frame-toggle .selects .default {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 42px;
  width               : 120px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.screen26 .time-frame-toggle .selects .default .background {
  background          : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 42px;
  width               : 120px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(224, 230, 238, 1.0);
}
.screen26 .time-frame-toggle .selects .default .year {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 12px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(68, 87, 112, 1.0);
  text-align          : justify;
  line-height         : 19.0px;
}
.screen26 .time-frame-toggle .selects .default .arrow {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 18px;
  height              : 7px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}