

.screen3 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen3 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 14px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  opacity             : 0.64;
}
.screen3 .dinner-at-viale {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 93px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.screen3 .a15 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 276px;
  height              : auto;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 141px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 22.65px;
}
.screen3 .minutes {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 276px;
  height              : auto;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 199px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 22.65px;
}
.screen3 .rectangle {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 275px;
  height              : 29px;
  width               : 60px;
  position            : absolute;
  margin              : 0;
  left                : 121px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(49, 164, 171, 1.0);
}
.screen3 .cells-button-cell2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 477px;
  height              : 44px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.screen3 .cells-button-cell2 .cell {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen3 .cells-button-cell2 .label {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 93px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 16.0px;
}
.screen3 .enter-the-time-you-w {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 207px;
  height              : auto;
  width               : 246px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 22.65px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}