

.screen24 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen24 .text-field {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 158px;
  height              : 48px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.screen24 .text-field .bounds {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 48px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen24 .text-field .name {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 0.38);
  text-align          : left;
  line-height         : 24.0px;
}
.screen24 .text-field .line {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 39px;
  height              : 2px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.screen24 .text-field .insertion-mark {
  background          : rgba(0, 150, 136, 1.0);
  top                 : 12px;
  height              : 20px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen24 .text-field1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 257px;
  height              : 48px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
}
.screen24 .text-field1 .bounds1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 48px;
  width               : 328px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen24 .text-field1 .age {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(0, 0, 0, 0.38);
  text-align          : left;
  line-height         : 24.0px;
}
.screen24 .text-field1 .line1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 39px;
  height              : 2px;
  width               : 329px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
}
.screen24 .text-field1 .insertion-mark1 {
  background          : rgba(0, 150, 136, 1.0);
  top                 : 12px;
  height              : 20px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen24 .create-account {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : justify;
  line-height         : 24.0px;
}
.screen24 .cells-button-cell2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 482px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
}
.screen24 .cells-button-cell2 .cell {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 231px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen24 .cells-button-cell2 .label {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 90px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 19.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}