

.screen22 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen22 .a200-points400-point {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 182px;
  height              : auto;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 16.65px;
}
.screen22 .a2-off5-off2-off {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 182px;
  height              : auto;
  width               : 245px;
  position            : absolute;
  margin              : 0;
  left                : 60px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : right;
  line-height         : 16.65px;
}
.screen22 .you-currently-have6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 109px;
  height              : auto;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.screen22 .redeem-rewards {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.screen22 .a20180326104620 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 252px;
  height              : 64px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
}
.screen22 .a20180326104743 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 171px;
  height              : 57px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.screen22 .a20180326104916 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 349px;
  height              : 35px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen22 .select-the-reward-yo {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 437px;
  height              : auto;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.screen22 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 13px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  opacity             : 0.64;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}