

.screen9 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen9 .rectangle2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 5px;
  height              : 667px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.screen9 .rectangle {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 159px;
  height              : 38px;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(150, 150, 150, 1.0);
}
.screen9 .start-group-meal-gam {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 418px;
  height              : auto;
  width               : 246px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 13.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 22.65px;
}
.screen9 .if04171508 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 312px;
  height              : 59px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(30deg); /* IE 9 */
  -webkit-transform   : rotate(30deg); /* Chrome, Safari, Opera */
  transform           : rotate(30deg);
}
.screen9 .if041715081 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 327px;
  height              : 59px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 157px;
  -ms-transform       : rotate(-10deg); /* IE 9 */
  -webkit-transform   : rotate(-10deg); /* Chrome, Safari, Opera */
  transform           : rotate(-10deg);
}
.screen9 .if041715082 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 312px;
  height              : 59px;
  width               : 59px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  -ms-transform       : rotate(-30deg); /* IE 9 */
  -webkit-transform   : rotate(-30deg); /* Chrome, Safari, Opera */
  transform           : rotate(-30deg);
}
.screen9 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 14px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  opacity             : 0.64;
}
.screen9 .type-in-your-group-n {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 93px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.screen9 .o-k {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 167px;
  height              : auto;
  width               : 170px;
  position            : absolute;
  margin              : 0;
  left                : 188px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 27.0px;
}
.screen9 .bitmap {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 255px;
  height              : 65px;
  width               : 30px;
  position            : absolute;
  margin              : 0;
  left                : 173px;
  -ms-transform       : rotate(270deg); /* IE 9 */
  -webkit-transform   : rotate(270deg); /* Chrome, Safari, Opera */
  transform           : rotate(270deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}