

.screen22 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen22 .avatar {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 80px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen22 .avatar1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 152px;
  height              : 51px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen22 .avatar2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 225px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen22 .avatar3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 297px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen22 .avatar4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 369px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen22 .avatar5 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 441px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen22 .avatar6 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 511px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen22 .elisa-jack-tom-emma {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 95px;
  height              : auto;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 129px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 14.65px;
}
.screen22 .a3-meals-together3-m {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 94px;
  height              : auto;
  width               : 121px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : right;
  line-height         : 14.65px;
}
.screen22 .rectangle2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 667px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 8px;
}
.screen22 .friends {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 149px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.screen22 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 14px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  opacity             : 0.64;
}
.screen22 .oval2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 618px;
  height              : 9px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
}
.screen22 .group {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 618px;
  height              : 9px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 175px;
}
.screen22 .group .oval21 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 9px;
  width               : 10px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.screen22 .add-button {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 27px;
  height              : 46px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 321px;
}
.screen22 .add-button .add-button1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 8px;
  height              : 30px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen22 .add-button .add-button1 .oval3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 30px;
  width               : 29px;
  position            : relative;
  margin              : 0;
  left                : 0px;
}
.screen22 .add-button .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  font-family         : "Futura-Medium", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(231, 244, 246, 1.0);
  text-align          : center;
  line-height         : 47.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}