

.screen11 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen11 .polygon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 579px;
  height              : 37px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
}
.screen11 .polygon1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 579px;
  height              : 37px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 164px;
}
.screen11 .polygon2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 579px;
  height              : 37px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 292px;
}
.screen11 .friends {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 633px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : justify;
  line-height         : 16.0px;
}
.screen11 .white-list {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 633px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : justify;
  line-height         : 16.0px;
}
.screen11 .redeem-rewards {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 624px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : justify;
  line-height         : 16.0px;
}
.screen11 .a200-points400-point {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 182px;
  height              : auto;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 167px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 16.65px;
}
.screen11 .cells-button-cell2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 477px;
  height              : 44px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.screen11 .cells-button-cell2 .cell {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .cells-button-cell2 .label {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 16.0px;
}
.screen11 .a2-off5-off2-off {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 182px;
  height              : auto;
  width               : 103px;
  position            : absolute;
  margin              : 0;
  left                : 202px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : right;
  line-height         : 16.65px;
}
.screen11 .redeem-rewards1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 99px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.screen11 .a20180326104620 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 252px;
  height              : 64px;
  width               : 66px;
  position            : absolute;
  margin              : 0;
  left                : 62px;
}
.screen11 .a20180326104743 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 171px;
  height              : 57px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.screen11 .a20180326104916 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 349px;
  height              : 35px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
}
.screen11 .you-currently-have4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 109px;
  height              : auto;
  width               : 301px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 18.0px;
}
.screen11 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 13px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  opacity             : 0.64;
}
.screen11 .modal-overlay {
  background          : rgba(0, 0, 0, 0.5);
  top                 : 20px;
  height              : 667px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .cells-button-cell21 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 433px;
  height              : 44px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 65px;
}
.screen11 .cells-button-cell21 .cell1 {
  background          : rgba(232, 245, 246, 1.0);
  top                 : 0px;
  height              : 44px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen11 .cells-button-cell21 .label1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : center;
  letter-spacing      : -0.34px;
  line-height         : 16.0px;
}
.screen11 .a20180327121944 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 241px;
  height              : 143px;
  width               : 339px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}