

.screen17 {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 667px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background          : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.screen17 .polygon {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 579px;
  height              : 37px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 164px;
}
.screen17 .polygon1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 579px;
  height              : 37px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 292px;
}
.screen17 .white-list {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 631px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : justify;
  line-height         : 16.0px;
}
.screen17 .redeem-rewards {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 626px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : justify;
  line-height         : 16.0px;
}
.screen17 .white-list1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 42px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 136px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : center;
  line-height         : 24.0px;
}
.screen17 .rectangle {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 141px;
  height              : 188px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(49, 164, 171, 1.0);
}
.screen17 .rectangle1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 377px;
  height              : 36px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
}
.screen17 .rectangle2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 178px;
  height              : 38px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(49, 164, 171, 1.0);
}
.screen17 .rectangle3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 253px;
  height              : 38px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  border-style        : solid;
  border-width        : 0px;
  border-color        : rgba(49, 164, 171, 1.0);
}
.screen17 .rectangle4 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 377px;
  height              : 175px;
  width               : 287px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
}
.screen17 .select3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 388px;
  height              : 95px;
  width               : 285px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
}
.screen17 .select3 .rectangle28 {
  background          : rgba(49, 164, 171, 0.3);
  top                 : 64px;
  height              : 31px;
  width               : 285px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.screen17 .select3 .select {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 1.0);
  text-align          : justify;
  line-height         : 13.0px;
}
.screen17 .select3 .a3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 0px;
  height              : 13px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 264px;
  -ms-transform       : rotate(90deg); /* IE 9 */
  -webkit-transform   : rotate(90deg); /* Chrome, Safari, Opera */
  transform           : rotate(90deg);
}
.screen17 .bounds {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 414px;
  height              : 131px;
  width               : 284px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
}
.screen17 .aaron-bennett {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 426px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .abbey-christensen {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 460px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .ali-connors {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 492px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .alex-nelson {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 522px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 122px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .mother {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 151px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .abbey-christensen1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 190px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .ali-connors1 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 268px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .ali-connors2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 228px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .add-contact-number {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 350px;
  height              : auto;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 14.65px;
}
.screen17 .contact-white-list {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 110px;
  height              : auto;
  width               : 146px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 11.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : left;
  line-height         : 14.65px;
}
.screen17 .polygon2 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 579px;
  height              : 37px;
  width               : 39px;
  position            : absolute;
  margin              : 0;
  left                : 37px;
}
.screen17 .friends {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 633px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(18, 108, 113, 1.0);
  text-align          : justify;
  line-height         : 16.0px;
}
.screen17 .ali-connors3 {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 347px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 312px;
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(19, 107, 113, 0.87);
  text-align          : justify;
  line-height         : 20.0px;
}
.screen17 .back {
  background          : rgba(255, 255, 255, 0.0);
  top                 : 43px;
  height              : 14px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  opacity             : 0.64;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}